<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SDBMS - Index</title>
</head>
<body>
    <h1>Simple FS DBMS</h1>
    <p>Some str: {{ context.some_string }}</p>
    <p>Some int: {{ context.some_int }}</p>
    <p>Some list:</p>
    <ul>
        {% for elem in context.some_list %}
            <li>{{ elem }}</li>
        {% endfor %}
    </ul>
</body>
</html>